 <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite">
<test name="FireFoxTest">
  <parameter name ="browser" value="firefox"/>
    <classes>
      <class name="com.apex.ecommerce.core.BrowserFactory"/>
      
    </classes>
    
  </test >
  <test name="chrome">
  <parameter name="browser" value="chrome"></parameter>
  <classes>
  <class name="com.apex.ecommerce.core.BrowserFactory"></class>
  </classes>
  </test>
</suite> 

  
